
/*
.alert {
    display: inline-block;
    color: #fff;
    padding: 5px 15px 5px 65px;
    line-height: 1;
    border-radius: 60px;
    background-position: 5px center;
    background-size: auto 45px;
    background-repeat: no-repeat;
    position: relative;
}
.alert > div {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.alert > div p {
    font-family: "Open Sans";
}
.alert > div p span {
    position: relative;
    padding-right: 15px;
    margin-right: 10px;
}
.alert > div p span::after {
    content: "|";
    position: absolute;
    right: 0px;
}
.alert button {
    border: 0;
    background: transparent;
    color: #fff;
    font-size: 20px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin-left: 10px;
    line-height: 1;
}
.alert.alert-success {
    background-image: url(../img/icon-success.png);
    background-color: #38cf5a;
}
.alert.alert-danger {
    background-image: url(../img/icon-danger.png);
    background-color: #f86161;
}
*/
.tag-text{
	max-width:220px;
	max-height:100%;
	overflow:visible;
	
	
	
}
.main__container .header__content {
    background: #2e66b7;
}
.main__container .header__content nav i {
    color: #fff;
}
.main__container .header__content img {
    height: 35px;
}
.main__container .header__content .notification {
    position: relative;
}
.main__container .header__content .notification span {
    position: absolute;
    bottom: 0px;
    right: -8px;
    background: #ffff00;
    font-size: 11px;
    font-weight: bold;
    width: 16px;
    height: 16px;
    text-align: center;
    border-radius: 50%;
}
.main__container .header__content .notification i {
    color: #fff;
    font-size: 22px;
}
.main__container .header__process {
    background: #e6e6e6;
    color: #949292;
}
.main__container .header__process p {
    margin: 0;
}
.main__container .header__title {background: #fff;}
.main__container .header__title p {
    margin: 0;
    color: #2f65b7;
}
.title {
    color: #333333;
}
.main__content_featured {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin: 12px 0 8px;
}
.main__content_featured .item.empty {
    
}
.main__content_featured .item.empty figure {
    background: transparent;
    border: 2px dashed #555;
}
.main__content_featured .item.empty figure img {
    
}
.main__content_featured .item {
    width: calc(16.66667% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__content_featured .item figure {
    width: 100px;
    height: 100px;
    background: rgb(248,0,252);
    background: linear-gradient(90deg, rgba(248,0,252,1) 0%, rgba(159,0,207,1) 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__content_featured .item figure img {
    width: 45%;
}
.main__content_featured .item span {
    font-size: 10px;
    text-align: center;
}
.main__content_list {
    display: flex;
    flex-wrap: wrap;
}
.main__content_list .item {
    width: calc(16.66667% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.main__content_list .item.empty figure {
    background: transparent;
    border: 2px dashed #555;
}

html, body {
    overflow-x: hidden;
}

@media (max-width: 768px){
    .title { font-size: 20px; font-weight: 300; padding: 0 10px; }
    .header__top { position: fixed; width: 100%; z-index: 999; }
    .page__container { padding-top: 180px; }
    body form {margin: 0 -15px 0;padding: 10px 20px 0;background: #e6f1f8;}
    form .form-group { margin-bottom: .5rem; }
    form label { margin: 0; font-size: 14px; }
    form .form-control { height: calc(1.4em + .75rem + 2px); font-size: 0.75rem; padding: .375rem; line-height: 1; }
    main form input[type="submit"] {width: calc(100% + 40px);margin: 10px -20px 0;padding: 15px 0;border-radius: 0px;}
    .main__content_featured { display:none; }
    .main__content_list { margin: 30px 0 0; }
    .main__content_list .item { width: calc(33.33334% - 10px); margin: 5px; }
    body .main__content_list .item figure { width: 75px; height: 75px; }
}
.main__content_list .item figure {
    width: 100px;
    height: 100px;
    background: rgb(46,102,182);
    background: linear-gradient(90deg, rgba(46,102,182,1) 0%, rgba(43,92,139,1) 100%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__content_list .item figure img {
    width: 5%;
}
.main__content_list .item span {
    font-size: 8px;
    text-align: center;
}
.participants {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 20px 0 20px;
    align-items: center;
    justify-content: center;
}
.participants li {
    position: relative;
    margin-right: -25px;
}
.participants li:nth-child(1) {
    z-index: 7;
}
.participants li:nth-child(2) {
    z-index: 6;
}
.participants li:nth-child(3) {
    z-index: 5;
}
.participants li:nth-child(4) {
    z-index: 4;
}
.participants li:nth-child(5) {
    z-index: 3;
}
.participants li:nth-child(6) {
    z-index: 2;
}
.participants li:nth-child(7) {
    z-index: 1;
}
.participants li:nth-child(8) {
    z-index: 0;
}
.participants li img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.participants li button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    
    font-weight: 200;
    font-size: 21px;
    color: #fff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.autocomplete {
    position: relative;
    margin: 5px 10% 5px;
}
.autocomplete i {
    position: absolute;
    top: 10px;
    left: 5px;
    color: #2f65b7;
    font-size: 14px;
}
.basicAutoSelect {
    font-size: 14px;
    margin: 20px 10px 0;
    width: calc(100% - 20px);
    padding-left: 35px;
}
form {
    margin-bottom: 40px;
}
form input[type="submit"] {
    background: #ff6600;
    margin: 20px auto 0;
    padding: 15px 30px;
    color: #fff !important;
    display: inherit;
}

